<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Stock Glovo</title>
</head>
<body>
    <table>
        <tr>
            <th>Stock Glovo temps reel</th>
        </tr>
        <tr>
            <th>ISBN</th>
            <th>Titre p1</th>
            <th>Titre p2</th>
            <th>Stock</th>
        </tr>
        
        {% for elem in liste %}
            <tr>
                {% for item in elem %}
                <td>{{ item }}</td>
                {% endfor %}
                <td><input type="checkbox" name="" id=""></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
